node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

@gingerpeer__gingerpeerKjToCal-keystore-backup

pc-api-5030931685596465424-114-55ee7066a606.json